:root {
  --var-primary-color: #f77f00;
  --var-secondary-color: #003049;
  --var-accent1-color: #fdfdfd;
  --var-accent1-color-low-opacity: #fdfdfd11;
  --var-accent2-color: #33333333;
  --var-accent2-color-low-opacity: #333333d0;
}

h1,
h2,
h3 {
  font-family: "Protest Strike", display;
  text-transform: uppercase;
}

.hero {
  position: relative;
}

.hero h1 {
  text-align: center;
  width: 100%;
  padding: 1.25rem 0;
  color: var(--var-primary-color);
}

.hero article p {
  color: var(--var-accent1-color);
  padding: 2rem;
}

p {
  font-family: "Source Sans 3", sans-serif;
}

.hero h1 {
  position: absolute;
  font-size: 5rem;
  background-color: var(--var-secondary-color);
}

.hero article {
  top: 20rem;
  margin: 3rem;
  padding: 2rem;
  background-color: var(--var-accent2-color-low-opacity);
  position: absolute;
}

.hero h1 {
  top: 0;
}
.hero article img {
  width: auto;
  float: right;
  margin-left: 3rem;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: var(--var-secondary-color);
}

header a {
  font-family: "Source Sans 3", sans-serif;
  color: var(--var-accent1-color);
  text-decoration: none;
  padding: 1rem 2rem;
  border-bottom: 2px solid var(--var-accent1-color-low-opacity);
}
header img {
  padding-bottom: 12px;
  margin-left: 36px;
}

nav {
  gap: 2rem;
  display: flex;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

h2,
h3 {
  color: var(--var-primary-color);
}

.history {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 3rem;
  padding: 0 5rem;
}

.history h2 {
  text-align: center;
  grid-column: 1/4;
}

.adventure {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  margin: 2rem;
}

.adventure figure img {
  width: 100%;
}

.adventure h2 {
  grid-column: 1/6;
  text-align: center;
}

footer {
  text-align: center;
  display: grid;
  border-top: 1px solid var(--var-accent2-color);
  grid-template-columns: 25fr 1fr 1fr 1fr;
  align-items: center;
  padding: 1rem;
}

footer a {
  text-decoration: none;
}
.contact-main-section {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  min-height: 75vh;
}

.form-section {
  padding: 20px;
}

.form-section p {
  margin: 5px;
}

form fieldset {
  font-family: "Source Sans 3", sans-serif;
  width: 55%;
  margin: 2rem 0;
  gap: 12px;
  padding: 10px 20px 18px 20px;
  border: 1px solid #f0f0f0;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

form fieldset legend {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  background-color: var(--var-secondary-color);
  color: var(--var-accent1-color);
  border-radius: 10px;
}

form fieldset input,
textarea {
  width: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #aaa;
}

input {
  width: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #aaa;
}
button {
  background-color: var(--var-primary-color);
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  max-width: 50%;
  cursor: pointer;
  color: var(--var-secondary-color);
}
textarea {
  font-family: "Source Sans 3", sans-serif;
  min-height: 5rem;
  padding: 10px;
  resize: none;
}

.check-group {
  display: flex;
}

.check-group label {
  display: flex;
  font-size: 14px;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: 6px;
}

.check-group input[type="checkbox"] {
  width: 16px;
  margin-right: 16px;
  height: 16px;
}

.address {
  position: sticky;
  bottom: 44px;
  max-width: 38%;
  float: right;
  text-align: right;
}

div p {
  float: left;
}

.images {
  display: flex;
  gap: 24px;
}

.images img {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  object-fit: cover;
}

.hero {
  position: relative;
}

.hero h1 {
  background-color: transparent;
  font-size: 3rem;
  background-color: #0000004f;
}

.hero-image {
  width: 100%;
  position: absolute;
  filter: brightness(0.5);
}

.hero-text {
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero-text h1 {
  margin: 0;
  padding-top: 15rem;
  position: relative;
}

.form {
  display: flex;
  gap: 1rem;
}

.newsletter {
  display: flex;
  position: relative;
  background-color: #003049;
  color: #fff;
  padding: 3rem;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

.newsletter h1 {
  margin: 0;
}

.hero-text button {
  margin-top: 3rem;
  text-transform: uppercase;
  padding: 1rem 3rem;
  background-color: #003049;
  color: white;
  align-self: center;
}

.home-main-section {
  background-color: #000;
}

.home-main-section a {
  text-align: center;
}

.description {
  display: grid;
  margin-top: 18rem;
  text-align: center;
  margin-bottom: 3rem;
  grid-template-columns: repeat(3, 1fr);
  color: #fff;
}

.description h1 {
  margin: 0;
}

.description > div > img {
  margin: 0 36px;
  width: calc(100% - 36px * 2);
  aspect-ratio: 2 / 1;
  object-fit: cover;
  border-radius: 5px;
}

.description p {
  margin-top: 0.25rem;
  text-align: center;
  width: 100%;
}

.trip-description {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 3rem;
  margin: 5rem;
  order: 1;
}

.trip-description:nth-child(even) {
  grid-template-columns: 3fr 2fr;
  text-align: right;
}

.trip-description:nth-child(even) section {
  order: -1;
}

.trip-description img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

table {
  text-align: center;
  width: 90%;
  font-family: "Source Sans 3", sans-serif;
  border-collapse: collapse;
  margin: 0 3rem;
}

table td {
  padding: 12px;
}

table th {
  padding: 0.75rem;
  background-color: #fc0;
}

table tr:nth-of-type(even) td {
  background-color: #f0f0f0;
  align-self: center;
}

.contact {
  text-align: center;
}
